<script>
	var movieString = "{{movieString}}";
	var index = {{index}};
	var adjustedMovieString = unescapeHtml(movieString);
	var movieStringArr = adjustedMovieString.split(";");
	var sizeOfMoviesArray = movieStringArr.length - 1;
	var titles = new Array();
	var aggregateRatings = new Array();
	var years = new Array();
	var runtimes = new Array();
	var allGenres = new Array();
	var synopses = new Array();
	var directors = new Array();
	var writers = new Array();
	var actors = new Array();
	var thumbnails = new Array();
	for (var a = 0; a < movieStringArr.length - 1; a++) {
		var currMovieInfo = movieStringArr[a];
		var currMovieInfoArr = currMovieInfo.split("*");
		titles.push(decodeURI(currMovieInfoArr[0]));
		aggregateRatings.push(decodeURI(currMovieInfoArr[1]));
		years.push(decodeURI(currMovieInfoArr[2]));
		runtimes.push(decodeURI(currMovieInfoArr[3]));
		allGenres.push(decodeURI(currMovieInfoArr[4]));
		synopses.push(decodeURI(currMovieInfoArr[5]));
		directors.push(decodeURI(currMovieInfoArr[6]));
		writers.push(decodeURI(currMovieInfoArr[7]));
		actors.push(decodeURI(currMovieInfoArr[8]));
		thumbnails.push(decodeURI(currMovieInfoArr[9]));
	}

	function unescapeHtml(safe) {
    	return $('<div />').html(safe).text();
	}
</script>

<center>
	<div id="window">
		<!-- <h1 style="margin-top:30px; margin-bottom:30px;">{{title}}</h1> -->
		<script>
			$("#watchMovieRating").val(aggregateRatings[index]);
			$("#watchMovieYear").val(years[index]);
			$("#watchMovieTitle").val(titles[index]);
			$("#watchMovieThumbnail").val(thumbnails[index]);
			$("#watchMovieGenres").val(allGenres[index]);

			/*$("#rateMoviesGenre").val(allGenres[index]);
			$("#rateMoviesYear").val(years[index]);
			$("#rateMovieRating").val(aggregateRatings[index]);
			$("#rateMovieTitle").val(titles[index]);*/


			var title = document.createElement("h1");
			title.id = "title";
			title.innerHTML = titles[index];
			document.getElementById("window").appendChild(title);

			// var synopsis = document.createElement("p");
			// synopsis.id = "synopsis";
			// synopsis.innerHTML = synopses[index];
			// document.getElementById("window").appendChild(synopsis);
		</script>
		<!--<a role="button" href="/findmovie" class="btn btn-default" style="float:left; margin-top:80px;">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size:30px;">
		</a>
		<img src="{{thumbnail}}" height="220px"></img>
		<a role="button" href="/findmovie" class="btn btn-default" style="float:right; margin-top:80px;">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size:30px;">
		</a>-->

		<!-- <form action="/findmovie" method="POST" style="display:inline-block; margin:auto;">
			<div class="form-group">
				<input type="hidden" value="{{index}}" name="index"></input>
				<input type="hidden" value="{{movieString}}" name="movieString"></input>
				<input type="hidden" value="{{movieRating}}" name="movieRating"></input>
				<input type="hidden" value=-1 name="increment"></input>
			</div>
			<button type="submit" class="btn btn-default btn-lg" style="margin:8px;" style="float:left; margin-top:80px;">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size:30px;">
			</button>
		</form> -->

		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size:30px;" id="leftbutton"></span>
		<script>
			$("#leftbutton").click(function() {
				if (index == 0) {
					index = sizeOfMoviesArray - 1;
				} else {
					index--;
				}
				$("#watchMovieRating").val(aggregateRatings[index]);
				$("#watchMovieYear").val(years[index]);
				$("#watchMovieTitle").val(titles[index]);
				$("#watchMovieThumbnail").val(thumbnails[index]);
				$("#watchMovieGenres").val(allGenres[index]);

				/*$("#rateMoviesGenre").val(allGenres[index]);
				$("#rateMoviesYear").val(years[index]);
				$("#rateMovieRating").val(aggregateRatings[index]);
				$("#rateMovieTitle").val(titles[index]);*/

				var poster = document.getElementById("poster");
				poster.src = thumbnails[index];
				var title = document.getElementById("title");
				title.innerHTML = titles[index];
				var synopsis = document.getElementById("synopsis");
				synopsis.innerHTML = synopses[index];
			});
		</script>

		<!-- <img src="{{thumbnail}}" height="220px"></img> -->
		<script>
			var poster = document.createElement("img");
			poster.id = "poster";
			poster.src = thumbnails[index];
			console.log(thumbnails[index]);
			console.log(titles[index]);
			poster.style.height = '220px';
			// var synopsisDisplayed = false;
			document.getElementById("window").appendChild(poster);
			poster.onclick = function() {
				// console.log(synopsisDisplayed);
				// if (synopsisDisplayed == false) {
				// 	synopsisDisplayed = true;
				    $('body').append('<div id=\'overlay\' style=\'position:absolute;top:0%;left:0%;width:100%;height:100%;background:black;z-index:1001;opacity:0.8;\'></div>');
				    $('body').append('<div id="synopsis" style=\'position:absolute;text-align:center;top:50%;left:50%;z-index:1002;overflow:auto;width:300px;height:400px;margin-left:-150px;margin-top:-200px;\'><p style="color:white;text-align:center;">' + '<strong>' + titles[index] + '(' + years[index] + ')</strong>' + '<br/>' + 'Directed by ' + directors[index] + '<br/><br/>' + synopses[index] + '</p></div>');
				    $('#synopsis').append('<button id="close" onclick="closeSynopsis()" type="button">close</button>');

				    //TODO: append director, year, etc

				// } else {
				// 	synopsisDisplayed = false;
				// 	$('body').remove('#overlay');
				// 	$('body').remove('#synopsis');
				// }
			};
			// $('#close').onclick = function() {
		 //    	console.log("clicked");
		 //    	$('body').remove('#overlay');
		 //    	$('body').remove('#synopsis');
		 //    };
		</script>
		<script>
			function closeSynopsis() {
				console.log("clicked");
				$("#overlay").remove();
				$("#synopsis").remove();
			}
		</script>
<!-- 		<form action="/findmovie" method="POST" style="display:inline-block; margin:auto;">
			<div class="form-group">
				<input type="hidden" value="{{index}}" name="index"></input>
				<input type="hidden" value="{{movieString}}" name="movieString"></input>
				<input type="hidden" value="{{movieRating}}" name="movieRating"></input>
				<input type="hidden" value=1 name="increment"></input>
			</div>
			<button type="submit" class="btn btn-default btn-lg" style="margin:8px;" style="float:right; margin-top:80px;">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size:30px;">
			</button>
		</form> -->
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size:30px;" id="rightbutton"></span>
		<script>
			$("#rightbutton").click(function() {
				if (index == sizeOfMoviesArray - 1) {
					index = 0;
				} else {
					index++;
				}
				$("#watchMovieRating").val(aggregateRatings[index]);
				$("#watchMovieYear").val(years[index]);
				$("#watchMovieTitle").val(titles[index]);
				$("#watchMovieThumbnail").val(thumbnails[index]);
				$("#watchMovieGenres").val(allGenres[index]);

				/*$("#rateMoviesGenre").val(allGenres[index]);
				$("#rateMoviesYear").val(years[index]);
				$("#rateMovieRating").val(aggregateRatings[index]);
				$("#rateMovieTitle").val(titles[index]);	*/

				var poster = document.getElementById("poster");
				poster.src = thumbnails[index];
				var title = document.getElementById("title");
				title.innerHTML = titles[index];
				// var synopsis = document.getElementById("synopsis");
				// synopsis.innerHTML = synopses[index];
			});
		</script>
		<br/>
		<br/>
		<span id='star1' class="glyphicon glyphicon-star-empty"></span>
		<span id='star2' class="glyphicon glyphicon-star-empty"></span>
		<span id='star3' class="glyphicon glyphicon-star-empty"></span>
		<span id='star4' class="glyphicon glyphicon-star-empty"></span>
		<span id='star5' class="glyphicon glyphicon-star-empty"></span>
		<br/>
		<form id='starForm' action="/findMovie" method="POST" style="display:inline-block;
    	margin:auto;">
			<div class="form-group">
				<input type="hidden" name="rating" id="ratingVal"></input>
				<input type="hidden" name="genreString" id = "rateMoviesGenre"></input>
				<input type="hidden" name="year" id = "rateMoviesYear"></input>
				<input type="hidden" name="movieDbRating" id = "rateMovieRating"></input>
				<input type="hidden" name="title" id="rateMovieTitle"></input>
				<input type="hidden" name="movieString" id="rateMovieMovieString" value="{{movieString}}"></input>
				<input type="hidden" name="index" id="rateMovieIndex"></input>
				<input type="hidden" name="rateMovie" value="true"></input>
			</div>
		</form>
		<style>
			.glyphicon {
				font-size: 40px;
				color: #12512d;
			}
		</style>
		<script>
		$("#star1").click(function() {
			$("#star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star2").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#star3").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#star4").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#ratingVal").val(1);
			var tempIndex = index;
			if (index == sizeOfMoviesArray - 1) {
				tempIndex = 0;
			} else {
				tempIndex++;
			}
			$("#rateMovieIndex").val(tempIndex);
			$("#rateMoviesGenre").val(allGenres[index]);
			$("#rateMoviesYear").val(years[index]);
			$("#rateMovieRating").val(aggregateRatings[index]);
			$("#rateMovieTitle").val(titles[index]);
			document.getElementById("starForm").submit();
		});
		$("#star2").click(function() {
			$("#star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star3").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#star4").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#ratingVal").val(3);
			var tempIndex = index;
			if (index == sizeOfMoviesArray - 1) {
				tempIndex = 0;
			} else {
				tempIndex++;
			}
			$("#rateMovieIndex").val(tempIndex);
			$("#rateMoviesGenre").val(allGenres[index]);
			$("#rateMoviesYear").val(years[index]);
			$("#rateMovieRating").val(aggregateRatings[index]);
			$("#rateMovieTitle").val(titles[index]);
			document.getElementById("starForm").submit();
		});
		$("#star3").click(function() {
			$("#star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star4").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#ratingVal").val(5);
			var tempIndex = index;
			if (index == sizeOfMoviesArray - 1) {
				tempIndex = 0;
			} else {
				tempIndex++;
			}
			$("#rateMovieIndex").val(tempIndex);
			$("#rateMoviesGenre").val(allGenres[index]);
			$("#rateMoviesYear").val(years[index]);
			$("#rateMovieRating").val(aggregateRatings[index]);
			$("#rateMovieTitle").val(titles[index]);
			document.getElementById("starForm").submit();
		});
		$("#star4").click(function() {
			$("#star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star4").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star5").removeClass("glyphicon-star").addClass("glyphicon-star-empty");
			$("#ratingVal").val(7);
			var tempIndex = index;
			if (index == sizeOfMoviesArray - 1) {
				tempIndex = 0;
			} else {
				tempIndex++;
			}
			$("#rateMovieIndex").val(tempIndex);
			$("#rateMoviesGenre").val(allGenres[index]);
			$("#rateMoviesYear").val(years[index]);
			$("#rateMovieRating").val(aggregateRatings[index]);
			$("#rateMovieTitle").val(titles[index]);
			document.getElementById("starForm").submit();
		});
		$("#star5").click(function() {
			$("#star1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star4").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#star5").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
			$("#ratingVal").val(9);
			var tempIndex = index;
			if (index == sizeOfMoviesArray - 1) {
				tempIndex = 0;
			} else {
				tempIndex++;
			}
			$("#rateMovieIndex").val(tempIndex);
			$("#rateMoviesGenre").val(allGenres[index]);
			$("#rateMoviesYear").val(years[index]);
			$("#rateMovieRating").val(aggregateRatings[index]);
			$("#rateMovieTitle").val(titles[index]);
			document.getElementById("starForm").submit();
		});
	</script>
		<form action="/rateonemovie" method="POST" style="display:inline-block; margin:auto;">
			<div class="form-group">
				<!-- <input type="hidden" value="{{index}}" name="index"></input> -->
				<!-- <input type="hidden" value="{{movieString}}" name="movieString"></input> -->
				<input id="watchMovieRating" type="hidden" name="movieRating"></input>
				<input id="watchMovieYear" type="hidden" name="year"></input>
				<input id="watchMovieTitle" type="hidden" name="title"></input>
				<input id="watchMovieThumbnail" type="hidden" name="thumbnail"></input>
				<!-- <input id="watchMovieMid" type="hidden" value="{{mid}}" name="mid"></input> -->
				<input id="watchMovieGenres" type="hidden" name="genres"></input>
			</div>
			<button type="submit" class="btn btn-default btn-lg" style="margin:8px;" style="float:left; margin-top:80px;">
				<span class="glyphicon glyphicon-film" aria-hidden="true" style="font-size:30px;"></span>
				<br/>
				Watch This Movie
			</button>
		</form>

		<!-- <form action="/rateonemovieandgoback" method="POST" style="display:inline-block; margin:auto;">
			<div class="form-group">
				<input type="hidden" value="{{index}}" name="index"></input>
				<input type="hidden" value="{{movieString}}" name="movieString"></input>
				<input type="hidden" value="{{movieRating}}" name="movieRating"></input>
				<input type="hidden" value="{{year}}" name="year"></input>
				<input type="hidden" value="{{title}}" name="title"></input>
				<input type="hidden" value="{{thumbnail}}" name="thumbnail"></input>
				<input type="hidden" value="{{mid}}" name="mid"></input>
				<input type="hidden" value="{{genres}}" name="genres"></input>
			</div>
			<button type="submit" class="btn btn-default btn-lg" style="margin:8px;" style="float:left; margin-top:80px;">
				<span class="glyphicon glyphicon-film" aria-hidden="true" style="font-size:30px;"></span>
				<br/>
				Rate This Movie
			</button>
		</form> -->
	</div>
	<script type="text/javascript" src="javascripts/swipe.js"/>
</center>