<h1>Onboarding Page</h1>

{{#each movies}}
	<p>{{title}}</p>
	<p>{{synopsis}}</p>
	<p>{{thumbnail}}</p>
	<p>{{audience_score}}</p>
{{/each}}

<form style="margin-top: 40px;" action="/onboarding" method="POST">
		<div class="form-group">
			<input type="hidden" value={{index}} name="index">
		</div>
		<center><button type="submit" class="btn btn-default">Next movie</button></center>
	</form>